.baner{
    background-image: url(images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 530px;
    opacity: 1;
     
     
}
.mt-6{
    margin-top: 150px;
}
